.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #417dc1;
}

.flex-container > div {
  background-color: #e8edf1;
  width: 250px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}